/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* 
* Variables
*/
:root{
  --color-title: #FAFAFA;
  --color-text: #F8F8F8;
  --color-text2: #D8D8D8;
  --color-nav: red;
  --color-nav-hover: rgb(138, 16, 16);
  --color-fondo-welcome: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  --color-fondo-projects: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%);
  --color-fondo-contact: linear-gradient(to top, #303841 0%,#35394A 100%);
  --font-size-text: 16px;
}
/* Rest */
* {
  margin: 0;
  padding: 0;
}


/*
* Navbar
*/

#navbar{
  overflow: hidden;
  position: fixed;
  width: 100%;

  background: var(--color-nav);
}
.items-nav{
  list-style: none;
  margin-right: 25px;
}
.nav-list {
  float: right;
  display: block;
  text-align: center;
  padding: 15px 15px;
  
  color: var(--color-title);
  text-decoration: none;
  font-size: 20px;
}
.nav-list:hover {
  background: var(--color-nav-hover);
}
/* Main */
main{
  color: var(--color-title);
}

#welcome-section{
  text-align: center;
  background: var(--color-fondo-welcome);
  height: 100vh;
}
#welcome-section > h1{
  font-size: 50px;
  padding-top: 40vh;
}
#welcome-section > p{
  font-size: 30px;
  font-style: italic;
  color: var(--color-nav-hover)
}

#projects{
  background: var(--color-fondo-projects);
}
#projects > header {
  display: flex;
  justify-content: center;
}
#projects > header > h2{
  text-align: center;
  font-size: 32px;
  padding: 50px 20px 10px;
  border-bottom: 2px solid var(--color-title);
}
.projects-container{  
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}
.link-projects{
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-fondo-contact);
}
.link-projects > img {
  width: 320px;
  height: 135px;
}
.link-projects > h3 {
  width: 320px;
  padding: 20px 0;
  font-size: var(--font-size-text);
}

#contact{
  min-height: 200px;
  height: calc(100vh - 173px);
  background: var(--color-fondo-contact);
  text-align: center;
}
#contact h2{
  padding: 20vh 0 15px;
}
#contact div{
  margin-top: 20px;
}
.link-contact{
  margin: 20px;
  text-decoration: none;
  color: var(--color-text2);
}
.link-contact::before{
  content: '@';
  color: var(--color-title);
}
.link-contact:hover{
  text-decoration: underline;
}
/* 
* Footer
*/
footer{
  border-top: 3px solid var(--color-nav);
  background: var(--color-fondo-contact);
  color: var(--color-text2);
  min-height: 120px;
}
footer > p{  
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

/*
* Responsive
*/
@media (max-width: 800px){
  #contact h2{
    padding: 10vh 0 10px;
  }
  #contact div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #contact div{
    margin-top: 10px;
  }
  .link-contact{
    margin: 7px;
    text-decoration: none;
    color: var(--color-text2);
  }
}