/* 
* Variables
*/
:root{
  --color-title: #FAFAFA;
  --color-text: #F8F8F8;
  --color-text2: #D8D8D8;
  --color-nav: red;
  --color-nav-hover: rgb(138, 16, 16);
  --color-fondo-welcome: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  --color-fondo-projects: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%);
  --color-fondo-contact: linear-gradient(to top, #303841 0%,#35394A 100%);
  --font-size-text: 16px;
}
/* Rest */
* {
  margin: 0;
  padding: 0;
}

/*
* Responsive
*/

@media (max-width: 800px){
  #contact h2{
    padding: 10vh 0 10px;
  }
  #contact div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #contact div{
    margin-top: 10px;
  }
  .link-contact{
    margin: 7px;
    text-decoration: none;
    color: var(--color-text2);
  }
}

/*
* Weba
*/

@media (prefers-reduced-motion: no-preference) {
  #welcome-section > p {
    animation: object-spin reverse 2s;
  }
}
@keyframes object-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}